button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 12px 7px;
    width: auto * 120px;
    height: auto * 3px;

    /* Light/Fill Color/Accent/Default */

    background: rgba(221, 221, 221, 0.9);
    border-radius: 3px;
    border: 1px solid black;
    color: rgb(0, 0, 0);
}
button:hover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 12px 7px;
    width: auto * 120px;
    height: auto * 32px;

    /* Light/Fill Color/Accent/Secondary */

    background: rgba(172, 172, 172, 0.9);
    border-radius: 3px;
    border: 1px solid black;
    color: rgb(0, 0, 0);
}
button[disabled]{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 12px 7px;
    width: auto * 120px;
    height: auto * 32px;

    /* Light/Fill Color/Accent/Disabled */

    background: rgba(207, 207, 207, 0.9);
    border-radius: 3px;
    color: rgb(128, 128, 128);
    border: 1px solid rgb(88, 88, 88);
}
a{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px 11px 6px;

    width: auto * 49px;
    height: auto * 32px;

    border-radius: 0px;
    border: none;
    color: #003E92;
    text-decoration: none;
}
a:hover{
    display: flex;
    flex-direction: column;
    padding: 4px 11px 6px;
    background: rgba(0, 0, 0, 0.0241);
    border: 1px solid rgba(0, 0, 0, 0.0241);
    border-radius: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
}
a[disabled]{
    color: rgba(0, 0, 0, 0.3614);
}
input[type=text]{
    height: auto * 49px;

    /* Light/Fill Color/Control/Default */

    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    border: 1px solid rgb(0, 0, 0);
}
input[type=text]:hover{
    height: auto * 49px;

    /* Light/Fill Color/Control/Default */

    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    border: 1px solid rgb(0, 0, 0);
}
input[type=text][disabled]{
    height: auto * 49px;

    /* Light/Fill Color/Control/Default */

    background: rgba(255, 255, 255, 0.7);
    border-radius: 0px;
    border: 1px solid rgb(95, 95, 95);
    color: grey;
}
input[type=password]{
    height: auto * 49px;

    /* Light/Fill Color/Control/Default */

    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    border: 1px solid rgb(0, 0, 0);
}
input[type=password]:hover{
    height: auto * 49px;

    /* Light/Fill Color/Control/Default */

    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    border: 1px solid rgb(0, 0, 0);
}
input[type=password][disabled]{
    height: auto * 49px;

    /* Light/Fill Color/Control/Default */

    background: rgba(255, 255, 255, 0.7);
    border-radius: 0px;
    border: 1px solid rgb(95, 95, 95);
    color: grey;
}
html, body{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(223, 223, 223);
}
h1, h2, h3, h4, h5, h6, p, a{
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.app_menu{
    width: 100%;
    background-color: rgb(91, 91, 91);
    margin: 0;
    padding: 0;
    height: 25px;
}
.app_menu_button{
    background-color: rgb(91, 91, 91);
    height: 25px;
    color: white;
    border: none;
    display: inline-block;
    position: relative;
}
.app_menu_button:hover{
    background-color: rgb(59, 59, 59);
    height: 25px;
    color: white;
    display: inline-block;
    border: none;
}
p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
* {cursor: url(../ressources/cursors/default.png), auto;}