.gg-terminal {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 24px;
    height: 20px;
    border: 2px solid;
    border-radius: 2px
}
.gg-terminal::after,
.gg-terminal::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}
.gg-terminal::before {
    border-right: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    width: 6px;
    height: 6px;
    top: 5px;
    left: 3px
}
.gg-terminal::after {
    width: 4px;
    height: 2px;
    background: currentColor;
    top: 10px;
    left: 11px
}
.gg-log-off {
    box-sizing: border-box;
    position: relative;
    display: block;
    border-radius: 16px;
    border: 2px solid;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 16px;
    border-top: 2px solid transparent
}
.gg-log-off::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    height: 8px;
    width: 2px;
    background: currentColor;
    left: 5px;
    bottom: 6px
}
.gg-components {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform:
        rotate(45deg)
        scale(var(--ggs,1));
    width: 14px;
    height: 14px;
    background:
    linear-gradient(
        to left,currentColor 10px,transparent 0)
        no-repeat 0 0/2px 6px,
    linear-gradient(
        to left,currentColor 10px,transparent 0)
        no-repeat 4px 0/2px 6px,
    linear-gradient(
        to left,currentColor 10px,transparent 0)
        no-repeat 8px 0/2px 6px,
    linear-gradient(
        to left,currentColor 10px,transparent 0)
        no-repeat 12px 0/2px 6px,
    linear-gradient(
        to left,currentColor 10px,transparent 0)
        no-repeat 0 8px/2px 6px,
    linear-gradient(
        to left,currentColor 10px,transparent 0)
        no-repeat 4px 8px/2px 6px,
    linear-gradient(
        to left,currentColor 10px,transparent 0)
        no-repeat 8px 8px/2px 6px,
    linear-gradient(
        to left,currentColor 10px,transparent 0)
        no-repeat 12px 8px/2px 6px
}
.gg-components::after,.gg-components::before {
    content: "";
    display: block;
    position: absolute;
    width: 6px;
    height: 2px;
    border-top: 6px double;
    border-bottom: 6px double
}
.gg-components::after {
    right: 0
}
.gg-album {
   box-sizing: border-box;
   position: relative;
   display: block;
   width: 18px;
   height: 18px;
   transform: scale(var(--ggs,1));
   border-left: 7px solid transparent;
   border-right: 3px solid transparent;
   border-bottom: 8px solid transparent;
   box-shadow: 0 0 0 2px,
      inset 6px 4px 0 -4px,
      inset -6px 4px 0 -4px;
   border-radius: 3px
}
.gg-album::after,
.gg-album::before {
   content: "";
   display: block;
   box-sizing: border-box;
   position: absolute;
   width: 2px;
   height: 5px;
   background: currentColor;
   transform: rotate(46deg);
   top: 5px;
   right: 4px
}
.gg-album::after {
   transform: rotate(-46deg);
   right: 2px
}
.gg-chevron-up {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px
}
.gg-chevron-up::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(-45deg);
    left: 4px;
    bottom: 2px
}
.gg-laptop {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 18px;
    height: 12px;
    border: 2px solid;
    border-radius: 2px
}
.gg-laptop::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 22px;
    height: 2px;
    background: currentColor;
    left: -4px;
    bottom: -5px;
    border-radius: 100px
}
.gg-eye-alt {
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 24px;
    height: 18px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    overflow: hidden;
    box-sizing: border-box
}
.gg-eye-alt::after,
.gg-eye-alt::before {
    content: "";
    display: block;
    border-radius: 100px;
    position: absolute;
    box-sizing: border-box
}
.gg-eye-alt::after {
    top: 2px;
    box-shadow:
        inset 0 -8px 0 2px,
        inset 0 0 0 2px;
    width: 24px;
    height: 24px
}
.gg-eye-alt::before {
    width: 8px;
    height: 8px;
    border: 2px solid transparent;
    box-shadow:
        inset 0 0 0 6px,
        0 0 0 4px,
        6px 0 0 0,
        -6px 0 0 0 ;
    bottom: 4px;
    left: 8px
}
.gg-border-all {
    transform: scale(var(--ggs,1));
}
.gg-border-all,
.gg-border-all::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 14px;
    height: 14px
}
.gg-border-all::before {
    content: "";
    position: absolute;
    border: 3px solid;
    bottom: 0;
}
.gg-feed,
.gg-feed::after,
.gg-feed::before {
    display: block;
    box-sizing: border-box;
    background: currentColor;
    box-shadow: 0 10px 0 0
}
.gg-feed {
    margin-left: -8px;
    margin-top: -8px;
    position: relative;
    transform: scale(var(--ggs,1));
    width: 7px;
    height: 7px;
    border-radius: 1px
}
.gg-feed::after,
.gg-feed::before {
    content: "";
    position: absolute;
    border-radius: 3px;
    width: 12px;
    height: 2px;
    top: 1px;
    left: 9px;
    opacity: .8
}
.gg-feed::after {
    width: 8px;
    top: 4px;
    opacity: .5
}
.gg-arrow-left {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px
}
.gg-arrow-left::after,
.gg-arrow-left::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 3px
}
.gg-arrow-left::after {
    width: 8px;
    height: 8px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
    bottom: 7px
}
.gg-arrow-left::before {
    width: 16px;
    height: 2px;
    bottom: 10px;
    background: currentColor
}
.gg-browser {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 24px;
    height: 18px;
    border: 2px solid;
    border-radius: 3px
}
.gg-browser::after,
.gg-browser::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 22px;
    height: 2px;
    background: currentColor;
    top: 4px
}
.gg-browser::after {
    border-radius: 3px;
    width: 2px;
    box-shadow:
        3px 0 0,
        6px 0 0;
    top: 1px;
    left: 1px
}
.gg-sync {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    border-radius: 40px;
    border: 2px solid;
    margin: 1px;
    border-left-color: transparent;
    border-right-color: transparent;
    width: 18px;
    height: 18px
}
.gg-sync::after,
.gg-sync::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    transform: rotate(-45deg)
}
.gg-sync::before {
    border-left: 6px solid;
    bottom: -1px;
    right: -3px
}
.gg-sync::after {
    border-right: 6px solid;
    top: -1px;
    left: -3px
}
@keyframes spinner-two-alt {
    0% {transform: rotate(0deg)}
    to {transform: rotate(359deg)}
}
.gg-spinner-two-alt,.gg-spinner-two-alt::before {
    box-sizing: border-box;
    display: block;
    width: 20px;
    height: 20px
}
.gg-spinner-two-alt {
    transform: scale(var(--ggs,1));
    position: relative
}
.gg-spinner-two-alt::before {
    content: "";
    position: absolute;
    border-radius: 100px;
    animation: spinner-two-alt 1s cubic-bezier(.6,0,.4,1) infinite;
    border: 3px solid transparent;
    border-bottom-color: currentColor;
    border-top-color: currentColor
}
.gg-signal,
.gg-signal::after,
.gg-signal::before {
    display: block;
    box-sizing: border-box;
    width: 2px;
    border-radius: 4px;
    background: currentColor
}
.gg-signal {
    position: relative;
    transform: scale(var(--ggs,1));
    height: 8px
}
.gg-signal::after,
.gg-signal::before {
    content: "";
    position: absolute
}
.gg-signal::before {
    height: 12px;
    left: 4px;
    bottom: 0
}
.gg-signal::after {
    height: 4px;
    left: -4px;
    bottom: 0
}
.gg-trash {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 10px;
    height: 12px;
    border: 2px solid transparent;
    box-shadow:
        0 0 0 2px,
        inset -2px 0 0,
        inset 2px 0 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-top: 4px
}
.gg-trash::after,
.gg-trash::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}
.gg-trash::after {
    background: currentColor;
    border-radius: 3px;
    width: 16px;
    height: 2px;
    top: -4px;
    left: -5px
}
.gg-trash::before {
    width: 10px;
    height: 4px;
    border: 2px solid;
    border-bottom: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: -7px;
    left: -2px
}
.gg-info {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-radius: 40px
}
.gg-info::after,
.gg-info::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    background: currentColor;
    left: 7px
}
.gg-info::after {
    bottom: 2px;
    height: 8px
}
.gg-info::before {
    height: 2px;
    top: 2px
}
